
/**
* SASS VARIABLES FOR ROTOR-IN
**/
//HOME STYLE
$home-logo-color : transparent;
$home-background-color : #FFFFFF;
$home-logo-animation: bounceIn;
$home-play-background-color:#f56e2e;
$home-play-color:#FFFFFF;
$home-logo-border-color:#FFFFFF;

//Levels Pages


// Group Page


//CrossWords

//Question