
/**
* SASS VARIABLES FOR ROTOR-IN
**/
//GENERIQUE STYLE
$black : #000;
$white : #fff;
$specifique_bleu : #5a6f84;
$post-border-color : #000;
$post-border-height : 4px;
$table-background : #F5F5F5;
$color_grey : #808080;
$color_light_grey : #91A9AD;
//HEADER
$header-border-color : #B4C4C7;
//VIDEOS
$video-inactive : #1D1D1B;
$video-active : $specifique_bleu;
//MENU
$menu-border-color : #313131;
$menu-border-weight : 1px;
//ARTICLE
$stats-article-background-color : #30A9D6;
//ARTICLE VIDEO
$background-article-video : #1D1D1B;