
/**
* SASS VARIABLES FOR ROTOR-IN
**/
//HOME STYLE
$home-logo-color : transparent;
$home-background-color : #FFFFFF;
$home-logo-animation: bounceIn;
$home-play-background-color:#f56e2e;
$home-play-color:#FFFFFF;
$home-logo-border-color:#FFFFFF;

//Levels Pages
$levels-background-color :#659699;
$levels-title-color:#0f0b3d;
$levels-title-background:#FFFFFF;
$levels-item-background:rgba(255,255,255,0.7);

// Group Page


//CrossWords

//Question