<ion-nav-bar class="bar bar-header bar-light cw-header" align-title="center">

      <ion-nav-buttons side="right">
        <button  class="cw-stars" >{{vm.numberStars}} <i class="ion-ios-star"></i></button>
      </ion-nav-buttons>

    <ion-nav-title>
        Level {{vm.level +1}}
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="cw-button-back button button-icon" ng-click="mainCtrl.goBack()"><i class="ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>

</ion-nav-bar>

<ion-content class="group-page" scroll="false">
  
  <ion-slide-box show-pager="false">

    <ion-slide ng-repeat="cw in vm.crosswords track by $index"
          ng-init="isDisabled = (vm.level+1) == vm.currentLevel && vm.currentCw - 1 < $index"
          ng-click="!isDisabled && vm.goToCrossWords($index)" class="cw-red"
          ng-class="{'disable':isDisabled}">
          <div class="top-content">
              <span class="cw-number">{{$index + 1}}</span>
              <span class="state levels">{{cw.numberCorrectionByCw}}/{{cw.questions.length || 0}}</span>
              <span class="state" ng-if="isDisabled"><i class="ion-android-lock"></i></span>
          </div>

          <div class="bottom-content">
             <span class="cw-stars-state">
                <i class="ion-ios-star" ng-repeat="n in [].constructor(3) track by $index" ng-class="{'disable': $index >= cw.stars}"></i>
              </span>
          </div>
    </ion-slide>

  </ion-slide-box>

  <a href="" ng-click="mainCtrl.goToState('hints')" class="cw-btn cw-blue-btn has-icon add-hints"><i class="ion-ios-lightbulb-outline"></i> Add hints</a>

</ion-content>